*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
nav{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    

}
h2{
    font-size: 45px;
}
.color-orange{
    color: #FD6E0A;
}
nav .menu a{
    font-size: 20px;
    color:#474747;
    text-decoration: none;
   
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    color: white;
    font-size: 18px;
    font-weight: bold;

